<footer class="footer section">
  <img src="/static/assets/logo-grey.svg" alt="setter logo" />
  <div>
    <div>Company</div>
    <a href="https://setter.com/ourStory" target="_blank">Our Story</a>
  </div>
</footer>