<div class="row header">
  <div class="section nav-bar">
    <a class="setter-wordmark" href="/">
      <span class="wordmark">
        <img src="/static/assets/wordmark.svg" alt="setter" />
        <span>Engineering</span>
      </span>
    </a>
    <nav class="navigation">
      <label for="menu-toggle" id="menu-toggle-label"></label>
      <input id="menu-toggle" type="checkbox">
      <div class="icon-menu"></div>
      <ul class="menu">
        <li>
          <a href="/about">
            About
          </a>
        </li>
        <li>
          <a href="https://jobs.lever.co/setter" target="_blank">
            Careers
          </a>
        </li>
        <li>
          <a href="https://github.com/setter" target="_blank">
            Code
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
